ul {
    list-style-type: none;
    margin: 5;
    display: flex;
}

li a {
    display: block;
    display: inline;.
    float: center;
    color: white;
    text-align: center;
    background-color: #dddddd
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: black;
}

div {
    background-color: #38E824;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    margin-left: -50px auto;
    margin-right: -50px auto;
    margin-top: -20px auto;
}

div.body {
    background-color: transparent !important;
    width: 700px;
    margin-left: 100px auto !important;
    margin-right: 100px auto !important;
    margin-top: 100px auto !important;
    margin-bottom: 100px auto !important;
}

div.newssec {
    background-color: transparent !important;
    margin-left: 10px auto !important;
    margin-right: 10px auto !important;
    margin-top: 200px auto !important;
    margin-bottom: 100px auto !important;
    height: 300px;
    text-align: center;
}

body {
    background-image: url(tiled.jpeg);
    background-size: 100px 100px;
    background-repeat: repeat;
    background-position: top left, bottom right;
    background-attachment: fixed;
}

p {
    text-align: center;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 35px;
}