ul {
    list-style-type: none;
    margin: 5;
    display: flex;
}

li a {
    display: block;
    display: inline;.
    float: center;
    color: white;
    text-align: center;
    background-color: #dddddd
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: black;
}

div {
    background-color: #38E824;
    height: 180px;
}

img.bannerlogo {
    font-size: 30
}